header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

nav {
  position: fixed;
  top: 0;
  width: 300px;
  z-index: 1000;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  list-style: none;
  height: 60px;
  border-bottom: 1px solid #ccc;
}
