@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  background-color: #0d0d0f;
  color: #fff;
}
